{% extends "base.html" %}
{% block content %}
{% load static %}
{% load custom_filters %}
<style>
    .hover-row:hover {
      background-color: rgba(59, 130, 246, 0.1);
    }
  </style>

<div id="cardtext" class="p-4 py-6 m-4">
    <div class="flex justify-between items-center">
        <div class="w-8"></div>
        <h1 class="text-center text-3xl font-semibold" id="cardtext">Exam Scores</h1>
        <div class="w-8"></div>
    </div>
    <div class="rounded-md " id="cardtext">
    <div class="w-full mx-auto">
        <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
            <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="assessment-tab" data-tabs-target="#assessment" type="button" role="tab" aria-controls="assessment" aria-selected="false">Pre-Qualifying</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="tos-tab" data-tabs-target="#tos" type="button" role="tab" aria-controls="tos" aria-selected="false">Qualifying</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div class="hidden" id="assessment" role="tabpanel" aria-labelledby="assessment-tab">
                <table class="w-full text-sm text-left ">
                    <thead class="text-xs  sticky-header">
                        <tr class="">
                            <th scope="col" class="whitespace-no-wrap rounded-tl-md px-6 py-3 text-left">
                                Exam ID
                            </th>
                            <th scope="col" class="px-6 py-3 w-3/5 text-left">
                                Assessment Period
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center text-xs overflow-y-auto max-h-[300px]">
                        {% for assessment in assessment %}
                            <tr class="bg-white text-md hover-row border-b border-gray-500 dark:border-gray-200 whitespace-no-wrap"
                                onclick="window.location='{% url 'display_scores_assessment' assessment.exam_id %}';"
                                style="cursor: pointer;">
                                <td class="text-left px-6 py-2 font-medium " style="white-space: nowrap; text-decoration: none;">
                                    {{ assessment.exam_id }}
                                </td>
                                <td class="text-left px-6 py-2 font-medium " style="white-space: nowrap; text-decoration: none;">
                                    {{ assessment.subject.subject.subject_code }} -  {{ assessment.subject.assessment.topic.topic_name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            <div class="hidden" id="tos" role="tabpanel" aria-labelledby="tos-tab">
                <table class="w-full text-sm text-left ">
                    <thead class="text-xs  sticky-header">
                        <tr class="">
                            <th scope="col" class="rounded-tl-md px-6 py-3 text-left">
                                Exam ID
                            </th>
                            <th scope="col" class="px-6 py-3 w-3/5 text-left">
                                Subject
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center text-xs overflow-y-auto max-h-[300px]">
                        {% for tos in table_of_specification %}
                            <tr class="bg-white text-md hover-row border-b border-gray-500 dark:border-gray-200 whitespace-no-wrap"
                                onclick="window.location='{% url 'display_scores_tos' tos.exam_id tos.subject_name %}';"
                                style="cursor: pointer;">
                                <td class="text-left px-6 py-2 font-medium " style="white-space: nowrap; text-decoration: none;">
                                    {{ tos.exam_id }}
                                </td>
                                <td class="text-left px-6 py-2 font-medium " style="white-space: nowrap; text-decoration: none;">
                                    {{ tos.subject_name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                    
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}