{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="w-full">

  <div class="flex justify-between items-center mb-4">
    <div class="text-3xl cursor-pointer py-2 w-8 transform hover:scale-110" id="cardtext">
      <button onclick="window.history.back()">
        <i class='bx bx-arrow-back'></i>
      </button>
    </div>
    <h1 class="text-center text-3xl font-semibold" id="cardtext">Update Academic Year</h1>
    <div class="w-8"></div>
  </div>
<form action="{% url 'academicyearupdate' academic_year.id %}" method="post" class="my-auto flex flex-col ">
  
  {% csrf_token %}

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pb-6" id="cardtext">
    <div class="text-sm">
      <label for="status" class="block mb-2">Select Academic Year</label>
      <select name="yearserriesupdate" class="ddrop border border-gray-200 rounded-md shadow-lg outline-none w-full p-2" disabled>
        <option value="{{academic_year.year_series}}">{{academic_year.year_series}}</option>
      </select>
    </div>
    <div class="w-full text-sm">
      <label for="period" class="block mb-2">Period</label>
      <select name="periodupdate" required class="ddrop border border-gray-200 rounded-md shadow-lg outline-none w-full p-2">
          <option value="first" {% if academic_year.period == 'first' %}selected{% endif %}>First</option>
          <option value="second" {% if academic_year.period == 'second' %}selected{% endif %}>Second</option>
      </select>
    </div>
    <div class="w-full text-sm">
      <label for="status" class="block mb-2">Status</label>
      <select name="activestatusupdate" class="ddrop border border-gray-200 rounded-md shadow-lg outline-none w-full p-2" required>
        <option value="0" {% if academic_year.status == 0 %}selected{% endif %}>Inactive</option>
        <option value="1" {% if academic_year.status == 1 %}selected{% endif %}>Active</option>
      </select>
    </div>
  </div>
  <div class="mt-auto flex justify-end">
    <button id="btns" class="text-white font-medium text-xs px-4 mt-2 py-2 rounded-lg bg-blue-600 hover:bg-blue-700 transition duration-200 ease-in-out" type="submit">
      Submit
    </button>
  </div>
</form>
</div>

{% endblock %}
