{% extends "base.html" %}

{% block content %}
{% load static %}

<dialog id="deletsubjectconfirmation" class="fixed inset-0 z-50 rounded-lg border border-gray-400" id="restrict_body">
  <div class="flex items-center justify-center border-blue-200">
      <div class="max-w-md w-full p-4 rounded-lg" id="cardtext">
          <p class="py-2">Are you sure you want to delete this Subject?</p>
          <div class="flex justify-end mt-4">
              <button id="cards" class="text-white bg-gray-400 hover:bg-gray-500 font-bold py-2 px-4 rounded mr-2" onclick="closeModal()">Cancel</button>
              <button class="bg-red-700 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" onclick="confirmDelete()">Delete</button>
          </div>
      </div>
  </div>
</dialog>

{% include "includes/modulesnav.html" %}

<div class="w-full h-full px-6 py-6">
  <div class="text-2xl cursor-pointer py-2 mx-6 w-8 transform hover:scale-110" id="cardtext">
    <button onclick="window.history.back()">
      <i class='bx bx-arrow-back'></i>
    </button>
  </div>
  <form action="{% url 'modules_update_subject_final' subject.id %}" method="post" class="w-full mx-auto">
    {% csrf_token %}
    
    <div class="text-sm relative grid grid-cols-1 gap-6 pb-6 p-6 w-full h-full" id="cardtext">
      <div class="w-full">
        <label for="subjectname_modules" id="cardtext" class="text-sm">Subject Name</label>
        <input name="subject_name_modules" type="text" id="subjectname_modules" class="border border-gray-200 rounded-md shadow-lg outline-none w-full p-2 text-sm" value="{{subject.subject_name}}" required />
      </div>

      <div class="grid grid-cols-2 gap-6 w-full">
        <div class="w-full">
          <label for="subjectcode_modules" id="cardtext" class="text-sm">Subject Code</label>
          <input name="subject_code_modules" type="text" id="subjectcode_modules" class="border border-gray-200 rounded-md shadow-lg outline-none w-full p-2" value="{{subject.subject_code}}" required />
        </div>
        <div class="w-full">
          <label for="subjectpw_modules" id="cardtext" class="text-sm">Percentage Weight</label>
          <input name="subject_pw_modules" type="number" id="subjectpw_modules" class="border border-gray-200 rounded-md shadow-lg outline-none w-full p-2" value="{{subject.subject_pw}}" required />
        </div>
      </div>

      <div class="mt-6 flex justify-between space-x-4 h-10">

        <button 
        type="button"
        onclick="openConfirmationModaldeletesubject('{{ subject.id }}')"
        class="text-white font-medium text-xs px-4 mt-2 py-2 rounded-lg buttons_for_ocr">
        Delete
      </button>
    
        <button 
        name="action" value="update" type="submit"
          class="text-white font-medium text-xs px-4 mt-2 py-2 rounded-lg buttons_for_ocr">
          Update
        </button>


      </div>
    </div>
  </form>
</div>

<input type="hidden" id="subjectidtodelete">

<script>
  function openConfirmationModaldeletesubject(id) {
    const dialog = document.getElementById('deletsubjectconfirmation');
    dialog.showModal();
  
    document.getElementById('subjectidtodelete').value = id;
  }

  function closeModal() {
    const dialog = document.getElementById('deletsubjectconfirmation');
    dialog.close();
  }

  function confirmDelete() {
    const id = document.getElementById('subjectidtodelete').value;
    window.location.href = "{% url 'modulessubjectdelete' 0 %}".replace('0', id);
  }
</script>

{% endblock content %}
